
$bc: #f3f2ed; //фон
$bbc: #ffffff; //фон блока
$fbc: #212121; //фон подвала
$dtc: #212121; //темный текст
$ltc: #ffffff; //светлый текст
$aec: #42da96; //акцентный цвет

$font-family: 'Montserrat', Arial, sans-serif;

