@import 'variables';
@import 'mixins';

body {
    margin: 0;
    padding: 0;
    background-color: $bc;
}

.about-container {
    max-width: 1440px;
    margin: 70px auto;
    padding: 0 25px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.contact-block {
    width: 255px;
    height: 290px;
    padding: 22px 25px;
    background-color: $bbc;
    box-sizing: border-box;
    text-align: left;
    margin-right: 30px;

}

.contact-h2 {
    @include heading-styles(14px, $dtc);
    margin-bottom: 15px;
    font-weight: 700;
}

contact-ul-li-img-p {
    @include paragraph-styles(14px, $dtc);
}

.contact-ul {
    padding: 0;
    list-style: none;


    .contact-ul-li {
        display: flex;
        align-items: center; 
        height: 37px;
        margin-bottom: 10px;
        width: 181px;
    
     

        .contact-ul-li-img {
            margin-right: 24px;
         
        }

        .contact-ul-li-img-p {
          
            line-height: $line-height;
            @include paragraph-styles(14px, $dtc);
        }
    }
}


.line {
    width: 205px;
    height: 2px;
    background-color: $dtc;
    margin: 0 auto;
    margin-bottom: 15px;
}

.location-block {
    width: 825px;
    height: 555px;
    padding: 25px;
    background-color: $bbc;
    box-sizing: border-box;
    text-align: left;
}

.line-bottom {
    width: 775px;
    height: 2px;
    background-color: $dtc;
    margin: 0 auto;
    margin-bottom: 20px;
}

.map {
    width: 770px;
    height: 450px;
    background-color: lightgray; 
    margin: 0 auto;
}
