@import 'variables';
@import 'mixins';

.wrap {
    @include heading-styles(14px, $dtc);
}

.account {
    display: flex;
       justify-content:space-between;
       align-items:flex-start;
       background-color:$ltc;    
   }

.account-1 {
 display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    background-color:$ltc;    

}

.account {
    margin: 0 auto;
    width:60%;
   
    padding: 20px 25px;
    border-radius: 6px;
    margin-bottom: 70px;
}

.account-1 {
    margin: 0 auto;
    padding: 20px 25px;
    border-radius: 6px;
    margin-bottom: 70px;
}


.account-foto img {
    height: 100px;
    margin: 0px 30px;
}

.account-cart {
    background-color:$ltc;
    margin: 0 auto;
    width:60%;
    padding: 20px 25px;
    border-radius: 6px;
}

.account-name {
    width: 950px;
}

.account-count {
    display: flex;
    justify-content: flex-start;
    align-items:flex-end;
    width:100%;
    
}

.count {
    
    margin-left: 55%;
width: 54px;
height: 44px;
/* Автолейаут */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
box-sizing: border-box;
border: 1px solid rgba(33, 33, 33, 0.4);
border-radius: 6px;
}

.count-btn {
    @include paragraph-styles(14px, $dtc);
    background: none;
	color: inherit;
	border: none;
	
	cursor: pointer;
	outline: inherit;

    &:hover {
        color: $aec;
    }
}

.account-delete {
    background: none;
	color: inherit;
	border: none;
    margin-left:50%;
    outline: inherit;
}

.account-delete svg:hover {
    cursor: pointer;
     fill:#EF1212; /* изменение цвета заливки при наведении */
}

.account-price {
    margin-top: 30px;
    @include heading-styles(18px, $dtc);
}

.button-edit{
    @include back-button-styles;
    padding: 10px;
}

.button-save{
    @include button-styles;
    padding: 10px;
}

.comment-field {
    width:100%;
height: 108px;
padding: 10px;
box-sizing: border-box;
border: 1px solid rgba(33, 33, 33, 0.4);
border-radius: 6px;
background: rgb(255, 255, 255);
@include heading-styles(14px, $dtc);
resize: none;
}

.account-pay {
    display: flex;
    justify-content: space-between;
}

.total {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-group-input {
    height: 44px;
    border-radius: 6px;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
}


