@import 'variables';
@import 'mixins';

a {
    text-decoration: none;
  }
  

.catalog-h1 {
    @include heading-styles(29px, $dtc);
    font-weight: 700;
    text-align: center;
}

.wrap {
    padding: 70px 170px;
}

.menu-catalog {
    display: flex;
    width: 1000px;
    justify-content: center;
margin: 0 auto;
}

.menu-catalog a {
    margin-top: 20px;
    margin-bottom: 70px;
    display: block;
    text-align: center;
    text-decoration: none;
    @include paragraph-styles(14px, $dtc);
    width: 335px;
    border-bottom: 1px solid rgba(33, 33, 33, 0.30);
    transition: border-bottom 0.5s ease-in-out;
}

.menu-catalog a:hover {
    
    opacity: 0.7;
}

.menu-catalog a.active {
    border-bottom: 1px solid var(--42DA96, #42DA96);
    @include paragraph-styles(14px, $dtc);
    font-weight: 700;
}

.product-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    margin: 40px;

}

.product-card {
    width: 245px;
    box-sizing: border-box;
    padding: 10px 10px;
    margin-left: 40px;
    border-radius: 6px;
    background-color: $bbc;
    transition: transform 0.3s ease-in-out; /* Add transition effect for hover */

    &:hover {
        border-radius: 6px;
        background: var(--FFF, #FFF);
        box-shadow: 0px 4px 20px 0px rgba(196, 196, 196, 0.50);
        cursor: pointer;
    }
    
}

.product-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    .price {
    @include paragraph-styles(18px, $dtc);

   
    }
    .add-to-cart-btn {
        background-color: rgba(255, 255, 255, 0); 
        border: none; 
    }

    .add-to-cart-btn {
        background: url('../img/cart.png') no-repeat; // Исходное изображение
        width: 24px;
        height: 24px;
        cursor: pointer;
    
        &:hover {
            background: url('../img/cart_ful.png') no-repeat; // Изображение при наведении
        }
    }
  }

.product-card img {
    height: 236px;
    margin-left: 40px;
}

.product-card h3 {
    @include paragraph-styles(14px, $dtc);
    font-weight: 600;
    width: 224px;
    text-align: center;
}