@import 'variables';
@import 'mixins';

.catalog-h1 {
    @include heading-styles(29px, $dtc);
    font-weight: 700;
    text-align: center;
}

.wrap {
    margin-top: 75px;
}

.menu-catalog {
    display: flex;
    width: 1000px;
    justify-content: center;
margin: 0 auto;
}

.menu-catalog a {
    margin-top: 20px;
    margin-bottom: 70px;
    display: block;
    text-align: center;
    text-decoration: none;
    @include paragraph-styles(14px, $dtc);
    width: 335px;
    border-bottom: 1px solid rgba(33, 33, 33, 0.30);
    transition: border-bottom 0.5s ease-in-out;
}

.menu-catalog a:hover {
    
    opacity: 0.7;
}

.menu-catalog a.active {
    border-bottom: 1px solid var(--42DA96, #42DA96);
    @include paragraph-styles(14px, $dtc);
    font-weight: 700;
}
