@import 'variables';
@import 'mixins';


footer {
   
    background-color: $fbc;
    padding: 40px 25px;

}

.main-footer {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    padding-bottom: 20px;

    .footer-logo {
        margin-right: 90px;
    }

    .footer-blocks {
        display: flex;
        align-items: flex-start;
       
    }

    .footer-description {
        max-width: 220px;
        
    }

    .footer-description,
    .footer-sections,
    .footer-social,
    .footer-contacts,
    .footer-disclaimer {
    
        text-align: left;
        flex: 1;
        padding: 0 20px;
       
    }

   .footer-h3 {
        @include heading-styles(14px, $ltc);
        margin-bottom: 20px;
        
    }

    .footer-p {
        @include paragraph-styles(14px, $ltc);
    }

    .footer-ul {
        list-style: none;
        padding: 0;
        margin: 0;

        .footer-ul-li {
            margin-bottom: 5px;
            .footer-ul-li-a {
                @include heading-styles(14px, $ltc);

                text-decoration: none;
            }
            .footer-ul-li-p {
                margin-bottom: -10px;
                line-height: $line-height;
                @include heading-styles(14px, $ltc);
            }
        }
    }
}

.footer-disclaimer {
    text-align: center;
    @include paragraph-styles(14px, $ltc);

}

// АДАПТИВ

@media (max-width: 430px) {
    .footer-logo {
        display: none;
    }

    .footer-description {
        display: none;
    }

    
 

}

@media (max-width: 768px) {
    .footer-logo {
        display: none;
    }

    .main-footer {
        flex-wrap: nowrap;
    }

}