@import 'variables';
@import 'mixins';


body {
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .main-header {
    background-color: $bc; 
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.50);
  }
  
  .logo img {
    max-height: 100%;
  }
  
  .main-menu ul {
    list-style: none;
    display: flex;
  
    li {
      margin-right: 30px;

      a {
        @include heading-styles(16px, $dtc);
        text-decoration: none;
        color: $dtc; 
        
       &:hover {
        @include heading-styles(16px, $aec);
    }
      }
  }
  }
  
  .cart-icon {
    margin-left: auto;
    margin-right: 0;
    margin-left: 50px;
  
  }

  .cart-icon img {
    max-height: 100%;
    cursor: pointer;
  }
