@import 'variables';
@import 'mixins';


.block {
    margin-top: 75px;
    width: 1110px;
    background-color: #F4F4F4;
    padding: 0 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.block-2 {
    width: 1250px;
    margin: 0 auto;
}

.left-content, .right-content {
    width: 50%;
}

.content-png {
    background-image: url(../img/banner.png);
    width: 573px;
    height: 534px;
}

.index-h1 {
    @include heading-styles(29px, $dtc);
    font-weight: 700;
}

.index-h2 {
    @include heading-styles(23px, $dtc);
    font-weight: 600;
}

.index-p {
    @include heading-styles(14px, $dtc);
}

.button {
    @include button-styles;
    width: 223px;
    height: 40px;
}

.block.reversed {
    flex-direction: row-reverse;
}

.brand-cards {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.brand-card {
    height: 150px;
    margin-top: 30px;
    margin-right: 30px;
    background-color: #fff;
    padding: 20px 35px;
    text-align: center;

     &:hover {
        border-radius: 6px;
        background: var(--FFF, #FFF);
        box-shadow: 0px 4px 20px 0px rgba(196, 196, 196, 0.50);
        cursor: pointer;
    }
}

.brand-card img {
    margin-top: 20px;
  margin-bottom: 10px;
}
